<!DOCTYPE html>
<html>
  <head>
    <% include partials/_bootstrap %>
    <title>Tiny App</title>
  </head>
  <body>
    <% include partials/_header %>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ShortURL</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <% for (key in urls) { %>
          <tr>
            <td><%= key %></td>
            <td><%= urls[key].long_URL %></td>
            <td><a href="/urls/<%= key %>/">Edit</a></td>
            <td>
              <form method="POST" action="/urls/<%= key %>/delete">
                <input type="submit" value="Delete"/>
              </form>
            </td>
          </tr>
          <% } %>
          <tr>
            <td colSpan="2">
              <a href="/urls/new">New URL</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>